.tasksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.task {
    width: 20%;
    border: 1px solid black;
    padding: 2px;
}

.deleteCreatedTask {
    float: right;
}

.createdTaskName {
    float: left;
}